body {
 font-family: Arial;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
    clear: both;
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: right;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

circle {
   fill: blue;
}

.tooltip {
  position: absolute;
  background-color:grey;
  border:solid;
  padding: 5px;
}

.bar {
   fill: blue;
}